<Project>
  <PropertyGroup>
    <TorchBinaries Condition="$(TorchBinaries)==''"></TorchBinaries>
    <GameBinaries Condition="$(GameBinaries)==''">$(TorchBinaries)\DedicatedServer64</GameBinaries>
  </PropertyGroup>
</Project>